<div class="text-center">
  <h1># <%= @user.id %> | <%= @user.name %></h1>
  <p><%= @user.email %></p>
</div>
<div class="col-sm-4 col-sm-offset-1">
  <h3>Cadastrar nova assinatura</h3>
  <%= render 'orders/new' %>
  <p><%= link_to 'Back to list', root_path %></p>
</div>
<div class="col-sm-6 col-sm-offset-1">
  <h3>Assinaturas cadastradas</h3>
  <% @user.orders.each do |order| %>
    <p><%= order.id %> | <%= order.model %> | <%= order.imei %> | R$ <%= order.annual_price %> | <%= order.number_of_installments %></p>
  <% end %>
</div>
